@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #E3DEDB;
    margin: 0rem;
    overflow: hidden;
}

#image-track > .image{
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% 50%;
}

#image-track{
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
} 

.heading {
    position: absolute;
    top: 150px;
    left: 100px;
    margin-bottom: 30px;
}

#text1 {
    position: absolute;
    font-size: 4em;
    top: -340px;
    left: 30px;
    color: #241C1C;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 30vh;
    margin-right: 0;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #916F6F;
    pointer-events: none;
    margin-right: 50px;
}



.navigation {
    width: 100%;
    height: 30px;
    max-width: 1200px;
    margin: 0 ;
    display: flex;
    align-items: center;
}

.navigation a {
    text-decoration: none;
    color:  #916F6F;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 20px;
    font-weight: 600;
}

.navigation a:hover, 
.navigation a.active {
    background: #916F6F;
    color: black;
}

.toggle-btn {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: relative; /* Add relative positioning to the toggle button */
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #916F6F;
    margin: 5px 0;

}

.dropdown-menu.open a {
    text-decoration: none;
    color:  black;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 20px;
    font-weight: 600;
}

.dropdown-menu.open a:hover, 
.dropdown-menu.open a.active {
    background: #916F6F;
    color: black;
}

.dropdown-menu li {
    padding: 0.7rem;
    display: block; /* Display each option as a block element */
    text-align: center; /* Center the text */
}

.dropdown-menu li:not(:last-child) {
    margin-bottom: 8px; /* Adjust the vertical gap between options */
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 70px; /* Adjust this value to control the vertical position */
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(200px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.dropdown-menu.open {
    height: 250px;
    width: 420px; /* Adjust the width as needed */

}

.dropdown-menu.open li {
    display: block;
    text-align: center; /* Adjust padding for better spacing */
}

.dropdown-menu.open li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
}

.dropdown-menu.open a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 20px;
    font-weight: 600;
    width: 130%; /* Ensure the anchor takes full width within the flex container */
}

.dropdown-menu.open a:hover, .dropdown-menu.open a.active {
    background: #916F6F;
    color: black;
}



/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
    body {
        overflow: auto;
    }

    header {
        padding: 15px;
    }

    .logo {
        margin-right: 20px;
    }

    
    .logo img {
        width: 50px; /* Adjust the width as needed */
        height: 50px;
    }

    .navigation {
        display: none;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .toggle-btn {
        display: flex;
    }

    .dropdown-menu {
        display: flex;
    }

    .navigation a {
        padding: 6px 8px;
        margin: 0 8px;
    }

    #text1 {
        position: absolute;
        font-size: 3em;
        top: -340px;
        left: -75px;
        color: #241C1C;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        margin-top: 30vh;
        margin-right: 0;
    }


    .sec {
        padding: 30px;
        overflow-y: auto;
    }

    .sec h2 {
        font-size: 1.5em;
    }

    #image-track {
        overflow: hidden;
        display: block; /* Ensure the container takes full width */
        width: 100%;
        justify-content: center;
        align-self: center;
        margin-top: 1190px;
        margin-right: 20px;
        margin-left: max(min(-200px, calc(-50vw + 20%)), -400px);
    }

    #image-track > .image {
        width: 85%; /* Make the images take full width */
        height: auto; /* Maintain the aspect ratio */
        margin-bottom: 16px;
    }

}

@media screen and (min-width: 601px) and (max-width: 1799px) {
    header {
        padding: 20px;
    }

    .logo {
        margin-right: 20px;
    }



    .navigation a {
        padding: 8px 12px;
        margin: 0 12px;
    }

    .parallax {
        height: 130vh; /* Adjusted height for better visibility */
        background: #241C1C;
        overflow: hidden; /* Added overflow to prevent horizontal scroll */
    }

    .parallax img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }


    #text1 {
        position: absolute;
        font-size: 3em;
        top: -290px;
        left: -75px;
        color: #241C1C;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        margin-top: 30vh;
        margin-right: 0;
    }

    .get-started-button {
        padding: 10px 20px;
        transform: translate(-50%, -50%);
    }

    .sec {
        padding: 40px;
    }

    .sec h2 {
        font-size: 2em;
    }
} 
